## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
numero1 = 7
print(numero1)

7

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(numero1))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = ("Dimas")

5) Crear una constante que contenga el número Pi

In [ ]:
NUMERO2 = 3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [10]:
NUMERO2 = 3.14

print(type(NUMERO2))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [ ]:
euler = 2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
valor1 = ("True") #es un string
valor2 = (True)   #es un booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [82]:
valor1 = ("True")
valor2 = (True)

print(type(valor1), type(valor2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [83]:
numero3 = 3
numero4 = 6.17
resultado = numero3 + numero4
print(resultado)

9.17

11) Realizar una operación de suma de un número definido como string con un entero

In [84]:
v1 = ("Hola")
v2 = (str(50))
suma = v1  +  v2
print(suma)

Hola50

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [36]:
e = (2.7182)
potencia = 3

print(e ** potencia)

20.083723072568

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [38]:
us = int(input("Ingrese un numero: "))
us1 = int(input("Ingrese otro numero: "))

print(us * us1)

4

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [41]:
j = 27
j1 = 4
division = j / j1

print(division)

6.75

15) De la división anterior solamente mostrar la parte entera

In [42]:
j2 = 27
j3 = 4
division_entera = j2 // j3

print(division_entera)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [43]:
j4 = 27
j5 = 4
modulo = j4 % j5

print(modulo)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [49]:
j6 = 4
j7 = 6
j8 = 3
resultado = j6 * j7 + j8

print (resultado)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [53]:
h1 = ("2") #esto es un string
h2 = 2     #esto es un entero

print(type(h1), type(h2))
print(h1 == h2)

<class 'str'> <class 'int'>
False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [52]:
h1 = (int("2"))
h2 = 2

print(type(h1), type(h2)) #ahora h1 y h2 son iguales o h1 y h2 = True
print(h1 == h2)

<class 'int'> <class 'int'>
True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [201]:
a = float("3,8") #el output es erroneo, porque no se puede convertir un string a flotante

ValueError: could not convert string to float: '3,8'

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [87]:
#g1 = 10
#g2 = ("10")
#suma = g1 + g2
 #print(suma)
# no esta permitida esta suma ya que estoy sumando diferentes tipos de datos, diferente seria si:
 
g5 = (str(10)) 
g6 = ("10")
suma2 = g5 + g6
print(suma2)

1010

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [92]:
menu = list(["1-Pizza", "2-Empanadas","3- Milanesas", "4- Salir" ])

print(menu)

['1-Pizza', '2-Empanadas', '3- Milanesas', '4- Salir']

23) Crear una lista que contenga los números del 1 al 10

In [93]:
numeros = list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [96]:
numeros = list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(numeros[-2]) 
print(numeros[8])

9
9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [88]:
numeros = list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
numeros.insert(3, "Dimas")
numeros.remove(3)

print(numeros)

[1, 2, 'Dimas', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [143]:
matriz = [ ["A", "B", "C"], ["D", "E", "F"], ["G", "H", "I"] ]

27) Imprimir la matriz creada en el punto 26

In [144]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [197]:
matriz = [ ["A", "B", "C"], ["D", "E", "F"], ["G", "H", "I"] ]
matriz.insert([0][0], (1, 2, 3))
matriz.pop(1)
print(matriz)

[(1, 2, 3), ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
marca1 = tuple()
marca2 = ("nike", "adidas", "under armour", "gucci", "prada")

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [12]:
marca1 = tuple()
marca2 = ("nike", "adidas", "under armour", "gucci", "prada")
print(marca2)

('nike', 'adidas', 'under armour', 'gucci', 'prada')

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [31]:
marca1 = tuple()
marca2 = ("nike", "adidas", "under armour", "gucci", "prada")
# marca2.insert(2, "Hola")
# marca2.remove(2)
print(marca2) 

#no se puede porque insert y remove no son funciones de tuple.

('nike', 'adidas', 'under armour', 'gucci', 'prada')

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [84]:
lista = ["Dimas", "Ortiz", 18, ("rugby", "videojuegos", "caminar")]
lista_1 = {"nombre" : "Dimas", "apellido": "Ortiz", "edad" : 18, "Hobbies": ("rugby", "videojuegos", "caminar")}
lista_2 = dict(nombre="Dimas", apellido="Ortiz", edad=18, Hobbies= ("rugby", "videojuegos", "caminar"))
print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])
print(lista_1["nombre"])
print(lista_1["apellido"])
print(lista_1["edad"])
print(lista_1["Hobbies"])

Dimas
Ortiz
18
('rugby', 'videojuegos', 'caminar')
Dimas
Ortiz
18
('rugby', 'videojuegos', 'caminar')

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [85]:
print(lista[3])

('rugby', 'videojuegos', 'caminar')

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [101]:
lista = ["Dimas", "Ortiz", 18, ("rugby", "videojuegos", "caminar")]
lista.remove(18)
lista.insert(2, 19)

print(lista)

['Dimas', 'Ortiz', 19, ('rugby', 'videojuegos', 'caminar')]